<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quizzes with Friends</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.scss" />
    <link rel="stylesheet" href="/styles/layout.scss" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Nixie+One&family=Roboto:ital,wght@0,100;0,400;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Domine:wght@400;500&family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script src="/scripts/app.js"></script>
    <script
      src="https://kit.fontawesome.com/53038575dd.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <% include partials/_header %>

    <body>
      <h1><%= quizzes.title %></h1>
      <h2><%= quizzes.description %></h2>
      <h3><%= quizzes.owner_name %></h3>
      <h4><%= quizzes.type %></h4>

      <form action="/quizzes/<%= quizzes[0].quiz_id %>" method="POST">
        <!-- Question 1 -->

        <div class="quiz-container" id="quiz">
          <h2 id="question">Question 1</h2>
          <img src="<%= quizzes[0].photo_url %>" />
          <p><%= quizzes[0].question %></p>
          <ol type="a">
            <li>
              <input
                type="radio"
                name="1answer"
                id="a"
                class="answer"
                value="<%- quizzes[0].answers[0].answer %>"
              />
              <label for="a" id="a_text"
                ><%= quizzes[0].answers[0].answer %></label
              >
            </li>

            <li>
              <input
                type="radio"
                name="1answer"
                id="b"
                class="answer"
                value="<%- quizzes[0].answers[1].answer %>"
              />
              <label for="b" id="b_text"
                ><%= quizzes[0].answers[1].answer %></label
              >
            </li>

            <li>
              <input
                type="radio"
                name="1answer"
                id="c"
                class="answer"
                value="<%- quizzes[0].answers[2].answer %>"
              />
              <label for="c" id="c_text"
                ><%= quizzes[0].answers[2].answer %></label
              >
            </li>

            <li>
              <input
                type="radio"
                name="1answer"
                id="d"
                class="answer"
                value="<%- quizzes[0].answers[3].answer %>"
              />
              <label for="d" id="d_text"
                ><%= quizzes[0].answers[3].answer %></label
              >
            </li>
          </ol>
        </div>

        <!-- Question 2 -->

        <div class="quiz-container" id="quiz">
          <h2 id="question">Question 2</h2>
          <img src="<%= quizzes[1].photo_url %>" />
          <p><%= quizzes[1].question %></p>
          <ol type="a">
            <li>
              <input
                type="radio"
                name="2answer"
                id="a"
                class="answer"
                value="<%- quizzes[1].answers[0].answer %>"
              />
              <label for="a" id="a_text"
                ><%= quizzes[1].answers[0].answer %></label
              >
            </li>

            <li>
              <input
                type="radio"
                name="2answer"
                id="b"
                class="answer"
                value="<%- quizzes[1].answers[1].answer %>"
              />
              <label for="b" id="b_text"
                ><%= quizzes[1].answers[1].answer %></label
              >
            </li>

            <li>
              <input
                type="radio"
                name="2answer"
                id="c"
                class="answer"
                value="<%- quizzes[1].answers[2].answer %>"
              />
              <label for="c" id="c_text"
                ><%= quizzes[1].answers[2].answer %></label
              >
            </li>

            <li>
              <input
                type="radio"
                name="2answer"
                id="d"
                class="answer"
                value="<%- quizzes[1].answers[3].answer %>"
              />
              <label for="d" id="d_text"
                ><%= quizzes[1].answers[3].answer %></label
              >
            </li>
          </ol>
        </div>

        <!-- Question 3 -->

        <div class="quiz-container" id="quiz">
          <h2 id="question">Question 3</h2>
          <img src="<%= quizzes[2].photo_url %>" />
          <p><%= quizzes[2].question %></p>
          <ol type="a">
            <li>
              <input
                type="radio"
                name="3answer"
                id="a"
                class="answer"
                value="<%- quizzes[2].answers[0].answer %>"
              />
              <label for="a" id="a_text"
                ><%= quizzes[2].answers[0].answer %></label
              >
            </li>

            <li>
              <input
                type="radio"
                name="3answer"
                id="b"
                class="answer"
                value="<%- quizzes[2].answers[1].answer %>"
              />
              <label for="b" id="b_text"
                ><%= quizzes[2].answers[1].answer %></label
              >
            </li>

            <li>
              <input
                type="radio"
                name="3answer"
                id="c"
                class="answer"
                value="<%- quizzes[2].answers[2].answer %>"
              />
              <label for="c" id="c_text"
                ><%= quizzes[2].answers[2].answer %></label
              >
            </li>

            <li>
              <input
                type="radio"
                name="3answer"
                id="d"
                class="answer"
                value="<%- quizzes[2].answers[3].answer %>"
              />
              <label for="d" id="d_text"
                ><%= quizzes[2].answers[3].answer %></label
              >
            </li>
          </ol>
        </div>

        <!-- Question 4 -->

        <div class="quiz-container" id="quiz">
          <h2 id="question">Question 4</h2>
          <img src="<%= quizzes[3].photo_url %>" />
          <p><%= quizzes[3].question %></p>
          <ol type="a">
            <li>
              <input
                type="radio"
                name="4answer"
                id="a"
                class="answer"
                value="<%- quizzes[3].answers[0].answer %>"
              />
              <label for="a" id="a_text"
                ><%= quizzes[3].answers[0].answer %></label
              >
            </li>

            <li>
              <input
                type="radio"
                name="4answer"
                id="b"
                class="answer"
                value="<%- quizzes[3].answers[1].answer %>"
              />
              <label for="b" id="b_text"
                ><%= quizzes[3].answers[1].answer %></label
              >
            </li>

            <li>
              <input
                type="radio"
                name="4answer"
                id="c"
                class="answer"
                value="<%- quizzes[3].answers[2].answer %>"
              />
              <label for="c" id="c_text"
                ><%= quizzes[3].answers[2].answer %></label
              >
            </li>

            <li>
              <input
                type="radio"
                name="4answer"
                id="d"
                class="answer"
                value="<%- quizzes[3].answers[3].answer %>"
              />
              <label for="d" id="d_text"
                ><%= quizzes[3].answers[3].answer %></label
              >
            </li>
          </ol>
        </div>

        <!-- Question 5 -->

        <div class="quiz-container" id="quiz">
          <h2 id="question">Question 5</h2>
          <img src="<%= quizzes[4].photo_url %>" />
          <p><%= quizzes[4].question %></p>
          <ol>
            <li>
              <input
                type="radio"
                name="5answer"
                id="a"
                class="answer"
                value="<%- quizzes[4].answers[0].answer %>"
              />
              <label for="a" id="a_text"
                ><%= quizzes[4].answers[0].answer %></label
              >
            </li>

            <li>
              <input
                type="radio"
                name="5answer"
                id="b"
                class="answer"
                value="<%- quizzes[4].answers[1].answer %>"
              />
              <label for="b" id="b_text"
                ><%= quizzes[4].answers[1].answer %></label
              >
            </li>

            <li>
              <input
                type="radio"
                name="5answer"
                id="c"
                class="answer"
                value="<%- quizzes[4].answers[2].answer %>"
              />
              <label for="c" id="c_text"
                ><%= quizzes[4].answers[2].answer %></label
              >
            </li>

            <li>
              <input
                type="radio"
                name="5answer"
                id="d"
                class="answer"
                value="<%- quizzes[4].answers[3].answer %>"
              />
              <label for="d" id="d_text"
                ><%= quizzes[4].answers[3].answer %></label
              >
            </li>
          </ol>
        </div>

        <div class="submit">
          <button id="submit">Submit</button>
        </div>
      </form>
    </body>
    <% include partials/_footer %>
  </body>
</html>
