<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quizzes with Friends</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.scss" />
    <link rel="stylesheet" href="/styles/layout.scss" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Nixie+One&family=Roboto:ital,wght@0,100;0,400;1,400&display=swap"
      rel="stylesheet"/>
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;500&family=Open+Sans:wght@300&display=swap" rel="stylesheet">


    <script src="/vendor/jquery-3.0.0.js"></script>
    <script src="/scripts/app.js"></script>
    <script
      src="https://kit.fontawesome.com/53038575dd.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <% include partials/_header %>

    <div class="results-header">
    <h2>Your Results</h2>
    <p>instructions for user to see their score and share their quiz</p>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Quiz Name</th>
          <th scope="col">Your Score</th>
          <th scope="col">Share with Friends!</th>
        </tr>
      </thead>

    <tbody>

        <% results.forEach((result) => { %>
          <tr>
          <td><a href="/quizzes/<%= result.quiz_id %>"><%= result.quiz_title %></a></td>
          <td><%= result.score %></td>
          <td><a href="/quizzes/<%=result.user_id%>/quizzes/<%= result.quiz_id %>/share">Share</a></td>
        </tr>
      <% }) %>

    </tbody>
    </table>
    <div class="tbd"></div>
<div class="tbd"></div>
    <% include partials/_footer %>
   </body>
</html>
